:root{
    --main-body-color: #0B032D;
    --danger-color:#9C0D38;
}



body{
    background-color: azure;
    height:90vh;
}

.container{
    width:90vw;
    height: 89vh;
    background-color:var(--main-body-color) ;
    color:white;
    margin-top: 2.5vh;
    padding:2vh 2vw 2vh 2vw;
}





button{
    height:14vh;
    width:75vw;

    border-style:solid;
    border-radius:2vh;
    color:white;
    display:block;
    margin:auto;
    font-size: 2.5vh;
    margin-bottom:2px;
}


.hidden{
    /* display:none; */
    height:0px;
    opacity:0;
    overflow-y: hidden;
}

.danger{
    background-color:var(--danger-color);
}

.warning{
    background-color:#F25F5C;
}
.good{
    background-color:green;
}

#quit_text{
    background-color: darkgreen;
}

#show_calendar{
    color:white;
    background-color: rgba(0,0,0,0);
    border-style: none;
    
    margin:5vh 35vw 2vh 35vw;
    font-size: 2.5vh;
    height:5vh;
    width: 20vw;
}

#buttons .hidden{
    margin-bottom:13vh;
}

#stats{
    margin-bottom:5vh;
}

#quit_text.hidden{
    margin-bottom: 4vh;
}

p{ 
    height: 4vh;
    font-size:2.2vh;
    margin-block-end: 0.5vh;}


#calendar{ 
    position:fixed;
    width:90vw;
    height:78vh;
    top:8vh;
    left:2vw;
}

#calendar.hidden_calendar{
    height:0px;
    overflow-y: hidden;
    opacity:0;
}

/* .full-month-view div.event{
    
    color:black !important;
    border-style: solid !important;
    height:2vh;
    overflow-y: hidden;
} */



/* add some js to add new class labeles to differentiate between quitting and smoking events
.full-day-view div.event{
    
    color:black !important;
    border-style: solid !important;
    height:1.4vh !important;
    overflow-y: hidden;
}

/* .full-day-view .contents-events div.hour{
    height:15vh;
    
}  */

/* div.full-day-view div.hour div.hour-text{
    height:5vh !important;
}  */